.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: -20%;
}

.icon+span{
  margin-left: 3px;
}

.icon svg {
  display: block;
}

.icon.colorized,
.icon.colorized svg path,
.icon.colorized svg.rect{
  fill:currentColor;
}

.icon.medium{
  width: 64px;
  height: 64px;
}
.icon.large{
  width: 64px;
  height: 64px;
}

.icon.responsive{
  width: 100%;
  height: auto;
}
